@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@300;400;600;700&family=Red+Hat+Display:wght@500;700;900&family=Roboto:wght@100&display=swap");

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d192c;
}

.card {
  width: 32.7rem;
  padding: 2.4rem;
  border-radius: 1.5rem;
  background: #15263f;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
}

.equilibrium-image {
  border-radius: 0.8rem;
  max-width: 100%;
}

.header {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 2.4rem;
}

.header:hover {
  color: #00fff8;
  cursor: pointer;
  transition: 0.5s;
}

.description {
  color: #8bacd9;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.6rem;
  margin-top: 1.2rem;
}

.price-trial {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
}

.price-trial div {
  display: flex;
  align-items: center;
  gap: 0.769rem;
}

.eth {
  color: #00fff8;
  font-size: 1.6rem;
  font-weight: 600;
}

.period {
  color: #8bacd9;
  font-size: 1.6rem;
  font-weight: 400;
}

.line {
  margin-top: 2.4rem;
  background-color: #2e405a;
  height: 0.1rem;
  border: none;
}

.author {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 1.6rem;
}

.boy {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  border: 0.1rem solid #fff;
}

.first-part {
  color: #8bacd9;
  font-size: 1.5rem;
  font-weight: 400;
}

.second-part {
  color: #fff;
}

.second-part:hover {
  color: #00fff8;
  transition: 0.5s;
}

.overlay {
  position: relative;
}

.overlay :hover::before {
  content: "";
  background-image: url("./assets/icon-view.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 248, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.8rem;
}
