@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@300;400;600;700&family=Red+Hat+Display:wght@500;700;900&family=Roboto:wght@100&display=swap");

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d192c;
}

.main-div {
  width: 32.7rem;
  height: 54.3rem;
  border-radius: 1.5rem;
  background: #15263f;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
}

.equilibrium-image {
  border-radius: 0.8rem;
  max-width: 100%;
  padding: 2.4rem 2.4rem 2.5rem;
}

.header {
  width: 27.8rem;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 2.4rem;
}

.description {
  width: 27.8rem;
  color: #8bacd9;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.6rem;
  margin-top: 1.2rem;
}

.price-trial {
  display: flex;
  justify-content: space-between;
}

.eth {
  color: #00fff8;
  font-size: 1.5rem;
  font-weight: 600;
}
